<launch>

  <!-- Read launch arguments -->
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="theta" default="0"/>
  <arg name="file" default="$(find ar_project)/maps/test1-1m-20px.png"/> 
  <!-- <arg name="file" default="$(find ar_project)/maps/udg.png"/> -->

  <!-- Set the arguments to parameters -->
  <param name="x" value="$(arg x)"/>
  <param name="y" value="$(arg y)"/>
  <param name="theta" value="$(arg theta)"/>
  <param name="file" value="$(arg file)"/>
  
  <!-- Turtlebot Driver node -->
  <node pkg="ar_project" type="node.py" name="driver" output="screen"/>

</launch>
