<launch>
	<!-- Read launch arguments -->
	<arg name="world" default="$(find ar_project_clean2)/worlds/test-world-1.sdf"/>

	<include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
	  <arg name="world_file" value="$(arg world)"/>
	</include>

  <!-- RViz -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find ar_project_clean2)/config/MyConfig.rviz" output="screen"/>

</launch>
